.navbar-light .show .navbar-nav .nav-link:hover{  /*for mobile*/
    color: #483ea1;
    background-color: #6b83c1;
}


/*start header*/

.header .row .colum:hover a{
    color: #6b83c1;
}
/*end header*/

/*start medical banner*/
.con-banner{
    height: 25rem;
    background-image: url('../image/consl.jpg');
    background-position: center center;
    background-size: cover;

}

/*end medical banner*/


/*start connect*/

.connect{
    height: 30rem;
    background-image: url(../image/bigstock-Team.jpg);
    background-size: 100% 30rem;
    background-position: center center;

}
.connect .row .col{
    position: relative;
}
.connect .row .col div{
    position: absolute;
    height: 6rem;
    padding: 2rem .5rem;
    width: 13rem;
    background-color: #fff;
    color: #6b83c1;
    top: 20rem;
    opacity: .7;
    border-radius: 15px;
}
.connect .row .col:nth-child(1) div{
    left: 13rem;
}
.connect .row .col:nth-child(2) div{
    right : 13rem;
}
/*start get in touch*/

.get-touch{
    background-color: #6b83c1;
    
}